* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 13px;
	line-height: 1.5;
	text-align: left;
	margin-bottom: 1rem;
}
:root {
	--colorUcol: #ccdb94;
	--fuenteUcol: "Poppins", sans-serif !important;
	--primary: #5f5ea3;
	--secondary: #ccdb94;
	--neutral-500: #aaaaaa;
	--neutral-200: #fafafa;
	--neutral-300: #eaeaea;
	--neutral-600: #777777;
	--neutral-700: #465d72;
	--neutral-800: #1a1c2b;
	--semantic-error-000: #ffcccd;
	--semantic-error-900: #d95f61;
	--semantic-error-901: #9f2e30;
	--neutral-000: #ffffff;
	--semantic-info-000: #b4bceb;
	--semantic-info-900: #6777d1;
	--semantic-warning-900: #d9ac43;
	--semantic-warning-000: #ffefcc;
}
.input-error {
	border-bottom: 1px solid var(--semantic-error-900) !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.field-validation-valid {
	color: var(--semantic-error-900) !important;
	font-style: italic;
}
/* Fuente NUEVA */
h4.title {
	font-family: "Poppins", sans-serif !important;
	font-size: 1.8rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: var(--neutral-800);
	margin-bottom: 1rem;
}
.main-header {
	display: flex;
	height: 82px;
	justify-content: center;
	position: fixed;
	width: 100%;
	/* Poner siempre encima */
	z-index: 100;
}
.main-header__border {
	background-color: #b3c479;
	height: 25px;
	position: absolute;
	width: 100%;
}
.main-header__container {
	align-items: center;
	display: flex;
	justify-content: space-around;
	max-width: 1360px;
	position: relative;
	width: 100%;
}
.main-header__container > div {
	align-items: center;
	color: var(--neutral-800);
	display: flex;
	flex: 1;
	font-weight: 500;
	justify-content: center;
	padding-top: 20px;
	width: 100%;
}
.main-header__container .main-header__logo {
	align-items: center;
	background-color: var(--neutral-000);
	border-bottom-left-radius: 80px;
	border-bottom-right-radius: 80px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	display: flex;
	justify-content: center;
	height: 80px;
	margin-top: -20px;
	width: 300px;
	z-index: 10;
}
.main-header__container .module-title {
	display: flex;
	justify-content: flex-start;
	left: 0;
	padding-left: 10px;
	position: absolute;
}

@media only screen and (max-width: 600px) {
	.main-header__container .module-title .subtitle {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.main-header__container .module-title .short-subtitle {
		display: block;
	}
}
.main-header__container .module-title .subtitle {
	font-size: 12px;
	text-align: left;
}
.main-header__container .module-title .short-subtitle {
	display: none;
	font-size: 16px;
}
.subtitle {
	color: #5f5ea3;
	font-family: "Poppins", sans-serif !important;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 0 20px 0;
	text-align: center;
}
.main-header .main-header__logo img {
	max-width: 180px;
	opacity: 0.6;
}
img {
	vertical-align: middle;
	border: 0;
}
.main-content {
	display: grid !important;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    grid-template-areas: "main-profile main-menu";
}

.main-content > aside {
    grid-area: main-menu;
}
.main-content > section {
    grid-area: main-profile;
}
.avisos{
    margin: 30px;
}
.avisos > .custom-card{
    padding: 20px;
    margin: 20px;
}

/* ---------------------- responsividad en main-content --------------------- */
@media screen and (max-width: 1024px) {
    .main-content {
        display: flex !important;
        flex-direction: column;
    }
    .main-content > aside {
        order: 2;
    }
    .main-content > section {
        order: 1;
    }
    .avisos{
        margin: 30px;
        /* Alinear al centro todo */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .avisos > .custom-card{
        width: 50%;
    }
}
#tituloSiceuc {
	font-size: 1.3rem;
	font-weight: 600;
	text-align: center;
	padding: 0.2rem;
	background-color: gainsboro;
}
.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 100px);
	justify-content: center;
	width: 100vw;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.title {
	color: #ccdb94;
	font-family: "Poppins", sans-serif !important;
	font-size: calc(1.8rem + 1vw);
	font-weight: 700;
	margin-bottom: 50px;
	text-align: center;
}
h2,
.h2 {
	font-size: 30px;
}
.login-form {
	align-items: center;
	background-color: var(--neutral-000);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	height: 500px;
	justify-content: space-around;
	max-width: 450px;
	width: 100%;
}
.custom-card {
	background-color: var(--neutral-000);
	border-radius: 8px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	padding: 20px;
}
.login-form__logo {
	height: 100px;
}
.login-form__content {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 20px 0;
	width: 100%;
}
.form {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.titleAd {
	font-family: "Poppins", sans-serif !important;
	font-size: 1.3rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.titleAd1 {
	font-family: "Poppins", sans-serif !important;
	font-size: 1.3rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #ccdb94;
}
.subtitle {
	color: var(--primary);
	font-family: "Poppins", sans-serif !important;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 0 20px 0;
	text-align: center;
}
.form-group {
	margin-bottom: 15px;
}
.col-xs-12 {
	width: 100%;
}
.form input {
	border: none;
	border-bottom: 1px solid var(--neutral-300);
	border-radius: 0;
	box-shadow: none;
	color: var(--neutral-600);
	font-size: 1.6rem;
	outline: none;
	-webkit-box-shadow: none;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 15px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
button,
input,
select[multiple],
textarea {
	background-image: none;
}
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button,
input {
	line-height: normal;
}
.btn {
	border-radius: 0px;
}
.btn-block {
	display: block;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn-success {
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	color: #ffffff;
	background-color: #47a447;
	border-color: #398439;
}
.btn:hover,
.btn:focus {
	text-decoration: none;
}
.nugget .profile-picture {
	/* Que la imagen se ponga dentro */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.custom-card {
	margin-bottom: 30px;
}
.custom-card__content {
	display: flex;
	align-items: center; /* Centra verticalmente los elementos */
}
aside.bg-profile {
	flex: 1; /* Ocupa todo el espacio disponible */
	max-width: 100px; /* Ajusta el ancho del aside según sea necesario */
	margin-right: 20px;
}
aside img:not(.dataAcademic aside img) {
	/* Hacer circulo perfecto */
	border-radius: 50%;
}
section:not(.dataAcademic section) {
	flex: 2; /* Ocupa el doble de espacio que el aside */
}
.col1 {
	flex: 1; /* Ocupa el doble de espacio que el aside */
	height: auto;
}
.col2 {
	flex: 2; /* Ocupa el doble de espacio que el aside */
	width: 50%;
	height: auto;
}
.bgPlantel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-right: 40px;
}
.bgPlantel img {
	background-color: #ccdb94;
	width: 100%;
	border-radius: 10px;
}

/* Estilos adicionales según sea necesario */
.profile-picture {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
}
.menu-session {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	list-style: none;
}
.menu-session ul {
	list-style: none;
}

.menu-session li {
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.menu-session li a {
	width: 100%;
}
.menu-session li:nth-last-child(1) {
	a {
		color: var(--semantic-error-900);
        font-weight: 600;
	}
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	margin-bottom: 10px;
}
.menu-session li a {
	color: var(--neutral-800);
	text-decoration: none;
}
.menu-session li:hover:not(li:nth-last-child(1)),
li.active {
	a {
		color: white;
		text-decoration: none;
		background-color: var(--primary);
	}
	color: white;
	text-decoration: none;
	background-color: var(--primary);
}
.menu-session li:nth-last-child(1):hover {
    a {
		color: white;
		text-decoration: none;
		background-color: var(--semantic-error-901);
	}
	text-decoration: none;
	background-color: var(--semantic-error-901);
}
.responsive-menu-sm > .main-menu {
	display: none;
}
.responsive-menu-sm {
	bottom: 71px;
	display: flex;
	position: fixed;
	z-index: 1000;
	right: 0;
	background-color: var(--neutral-300);
	border-radius: 5px;
	padding: 5px;
	/* Sombras */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.main-menu .menu-session{
    opacity: 0.9;
}
.menu-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--semantic-dark-900);
	color: var(--neutral-000);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	/* Que sea flotante */
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
    font-size: medium;
}
.menu-button.menu-open {
	width: 100px;
	height: 60px;
	border-radius: 40px;
	/* Agrega otros estilos según sea necesario */
}
#menuLbl {
    display: none;
    margin-left: 4px;
}
.menu-button__icon {
	font-size: 1.5rem;
	font-weight: 600;
}
/*************/
.main-container-centered {
	margin-top: 100px !important;
}
.resume1 {
	display: flex;
	align-items: center;
	width: 100% !important;
	justify-content: center;
}
@media screen and (max-width: 1024px) {
	.resume1 {
		flex-direction: column;
	}
}
.resume__item {
	flex: 0 0 auto; /* Deja que los elementos tengan su propio tamaño y no crezcan */
	margin-right: 10px; /* Agrega margen entre los elementos (ajusta según sea necesario) */
	padding: 10px; /* Añade relleno para mejorar la apariencia */
}
.resume__item .name,
.name {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--primary);
}
.name-variant {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--neutral-800);
}
.card-acts {
	align-items: center;
	text-align: center;
	width: 100% !important;
}

.banner.section img {
	max-width: 100%;
}
.banner {
	align-items: center;
	background-color: var(--neutral-200) !important;
	border-radius: 10px;
	box-sizing: border-box;
	column-gap: 20px;
	display: flex;
	justify-content: space-around;
	min-height: 400px;
	position: relative;
	width: 100%;
}

.custom-card .data-blocks {
	margin-bottom: 10px;
}
.links {
	width: 100%;
}
.links h5 {
	text-align: center;
}
.d-none {
	display: none;
}

/* Crear table striped */
.table tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 1024px) {
    .responsive-menu-sm > nav > .custom-card > .user-data > div:nth-child(2){
        font-size: small;
    }
    .responsive-menu-sm > nav > .custom-card > .schoolar-data > ul{
        list-style: none;
        text-align: right;
        font-size: smaller;
    }
    .main-profile{
        display: none   !important;
    }
}
/* Responsive table */
@media screen and (max-width: 518px) {
    .main-profile{
        display: none   !important;
    }
    .responsive-menu-sm > nav > .custom-card > .user-data > div:nth-child(2){
        font-size: small;
    }
    .responsive-menu-sm > nav > .custom-card > .schoolar-data > ul{
        list-style: none;
        text-align: right;
        font-size: smaller;
    }
	.short-subtitle {
		font-size: small !important;
	}
	.table-responsive {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	.eval td,
	td {
		font-size: xx-small;
	}
	td,
	th {
		vertical-align: middle !important;
	}
	.badge-success {
		background-color: #5cb85c;
		font-size: xx-small !important;
		width: 100% !important;
	}
	.banner {
		min-height: auto !important;
		padding: 10px !important;
	}
	.dataAcademic {
		flex-direction: column !important;
	}
	.bgPlantel {
		margin-right: 0px !important;
	}
	.col2 {
		width: 100% !important;
	}
	/* Poner el padre de bg-profile hacia abajo */
	#data-profile {
		flex-direction: column !important;
	}
	#data-profile aside {
		margin-bottom: 10px !important;
	}
	/**/
	.student-profile .schoolar-data ul {
		border-bottom: 0 !important;
		font-size: 12px;
		list-style: none;
		margin-right: 20px !important;
		padding-bottom: 0 !important;
		text-align: right;
	}
	.menu-session,
	.menu-session ul {
		margin-bottom: 0 !important;
	}
	.menu-session li:nth-last-child(1) {
		margin-bottom: 0 !important;
	}
	.menu-session li {
		margin-right: 5px !important;
	}
}
tr {
	height: 9%;
	font-size: small;
}
td {
	height: auto;
}
td,
th {
	vertical-align: middle !important;
}
tr:nth-child(1) {
	background-color: var(--primary) !important;
	color: var(--neutral-000);
}
tr td:not(:nth-child(1)) {
	text-align: center;
}
/* Crear menu flotante
.menu-float {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 0 20px 20px;
    z-index: 100;
}
.menu-float ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-float li {
    margin-bottom: 10px;
}
.menu-float li a {
    display: block;
    padding: 10px;
    background-color: var(--primary);
    color: var(--neutral-000);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.menu-float li a:hover {
    background-color: var(--secondary);
}
.menu-float li a i {
    margin-right: 10px;
} */
