<h4 class="subtitle">Datos Personales</h4>
<div class="custom-card">
	<div class="custom-card__content" id="data-profile">
		<aside class="bg-profile">
			<img
				src="https://siceuc.ucol.mx/fotos/xybnktaqga2klcwmyliul0ckdfqgbovi1fcjslgnusy8welwipbkbt6vjfnermcpn9eynifmbpwj4dmfqrveuko7tckynimqdrfnmssbwbnq.jpg"
				alt="Foto de perfil"
				class="profile-picture"
			/>
		</aside>
		<section>
			<div class="custom-card__content__item">
				<div class="custom-card__content__item__label">
					<b>Nombre:</b> <span>OCHOA CARRILLO JOSE GUADALUPE</span>
				</div>
			</div>
			<div class="custom-card__content__item">
				<div class="custom-card__content__item__label">
					<b>Correo:</b>
					<span><a href="mailto:jochoa10@ucol.mx">jochoa10@ucol.mx</a></span>
				</div>
			</div>
			<div class="custom-card__content__item">
				<div class="custom-card__content__item__label">
					<b>Cuenta:</b> <span>20186947</span>
				</div>
			</div>
			<div class="custom-card__content__item">
				<div class="custom-card__content__item__label">
					<b>CURP:</b> <span>OOCG030528HCMCRDA4</span>
				</div>
			</div>
			<div class="custom-card__content__item">
				<div class="custom-card__content__item__label">
					<b>Saldo en monedero electrónico:</b> <span>$0.00</span>
				</div>
			</div>
			<div class="custom-card__content__item">
				<div class="custom-card__content__item__label">
					<b>NSS:</b> <span>10170380744</span> <b>UMF:</b> <span>19</span>
				</div>
			</div>
			<div class="custom-card__content__item principal d-none">
				<div class="custom-card__content__item__label">
					<p>
						Te recomendamos que antes de visitar la clínica del IMSS que te
						corresponde, imprimas tu
						<a
							href="https://serviciosdigitales.imss.gob.mx/gestionAsegurados-web-externo/vigencia"
							target="_blank"
							>vigencia de derechos</a
						>
					</p>
					<p>
						Puedes revisar la guía del estudiante del IMSS
						<a
							href="https://www.gob.mx/cms/uploads/attachment/file/152983/Estudiantes.pdf"
							target="_blank"
							>aquí</a
						>
					</p>
				</div>
			</div>
		</section>
	</div>
    <script>
        $(document).ready(function () {
            let path = window.location.pathname;
            let page = path.split("/").pop();
            console.log(page);
            if(page == "inicio.html"){
                $(".data-blocks").removeClass("d-none");
                $(".principal").removeClass("d-none");
            }
        });
    </script>
	<div class="data-blocks d-none">
		<div class="custom-alert custom-success-alert" style="margin-bottom: 1rem">
			<p>
				Puedes consultar tu resultado del examen de diagnóstico de inglés
				<a href="">aquí</a>
			</p>
		</div>
		<div class="custom-alert custom-info-alert">
			<p>
				Si requieres factura sobre tus pagos referenciados debes solicitarla al
				secretario administrativo de tu plantel dentro del mismo mes en que
				realizaste el pago
			</p>
		</div>
	</div>
</div>
