<div class="main-header__border"></div>
<div class="main-header__container">
    <div class="module-title">
        <h6 class="subtitle full-subtitle">
            SISTEMA DE CONTROL ESCOLAR
        </h6>
        <h6 class="subtitle short-subtitle">
            SICEUC
        </h6>
    </div>
    <div class="logo">
        <div class="main-header__logo">
            <img src="https://siceuc2.ucol.mx/cultural/Resources/logos/logo-centered-color.png" alt="UdeC" class="main-header__logo-image">
        </div>
    </div>
</div>