<div class="main-profile">
    <aside class="student-profile">
        <div class="custom-card">
            <div class="user-data">
                <div class="nugget">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Profile-720.png" alt="Foto de perfil" class="profile-picture" />
                </div>
                <div class="name text-ellipsis">
                    OCHOA CARRILLO JOSE GUADALUPE
                </div>
            </div>
            <div class="schoolar-data">
                <ul>
                    <li>20186947</li>
                    <li>FACULTAD DE TELEMATICA</li>
                    <li>5° sem. G</li>
                </ul>
            </div>
            <div class="data-blocks">
                <div class="responsive-menu-lg">
                    <nav class="main-menu">
                        <div class="menu-session">
                            <ul>
                                <li class="active">
                                    <a href="./inicio.html">Inicio</a>
                                </li>
                                <li>
                                    <a href="./evaluaciones.html">Evaluaciones</a>
                                </li>
                                <li>
                                    <a href="https://siceuc2.ucol.mx/pp/">Práctica Profesional</a>
                                </li>
                                <li>
                                    <a href="#">Servicio Social Universitario</a>
                                </li>
                                <li>
                                    <a href="https://siceuc2.ucol.mx/ssc/">Servicio Constitucional</a>
                                </li>
                                <li>
                                    <a href="https://siceuc2.ucol.mx/cultural/alumno/IniciarSesion">Actividades Culturales y Deportivas</a>
                                </li>
                                <li>
                                    <a href="./index.html">Salir</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                
            </div>
        </div>
        <div class="modal fade" id="blocked-account-modal" tabindex="-1" role="dialog" aria-labelledby="blocked-account-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button
                        type="button"
                        class="close-modal"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">×</span>
                    </button>
                    <h3 class="subtitle">Tu cuenta ha sido bloqueada</h3>
                    <p class="help-text">
                        Tu cuenta ha sido bloqueada debido a que se detectaron
                        <span class="highlight"
                            >varios eventos a los cuáles no has asistido</span
                        >. Para mayor información acude a tu
                        <span class="highlight">Plantel</span> con el responsable
                        de Culturales y Deportivas
                    </p>
                </div>
            </div>
        </div>
    </aside>
</div>
<div class="responsive-menu-sm">
    <div class="menu-button">
        <div class="menu-button__icon">&#9776;</div>
        <span id="menuLbl">Menú</span>
    </div>
    <nav class="main-menu">
        <div class="custom-card">
            <div class="user-data">
                <div class="nugget">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Profile-720.png" alt="Foto de perfil" class="profile-picture" />
                </div>
                <div class="name text-ellipsis">
                    OCHOA CARRILLO JOSE GUADALUPE
                </div>
            </div>
            <div class="schoolar-data">
                <ul>
                    <li>20186947</li>
                    <li>FACULTAD DE TELEMATICA</li>
                    <li>5° sem. G</li>
                </ul>
            </div>
            <div class="data-blocks">
                <div class="responsive-menu-lg">
                    <nav class="main-menu">
                        <div class="menu-session">
                            <ul>
                                <li class="active">
                                    <a href="./inicio.html">Inicio</a>
                                </li>
                                <li>
                                    <a href="./evaluaciones.html">Evaluaciones</a>
                                </li>
                                <li>
                                    <a href="https://siceuc2.ucol.mx/pp/">Práctica Profesional</a>
                                </li>
                                <li>
                                    <a href="#">Servicio Social Universitario</a>
                                </li>
                                <li>
                                    <a href="https://siceuc2.ucol.mx/ssc/">Servicio Constitucional</a>
                                </li>
                                <li>
                                    <a href="https://siceuc2.ucol.mx/cultural/alumno/IniciarSesion">Actividades Culturales y Deportivas</a>
                                </li>
                                <li>
                                    <a href="./index.html">Salir</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                
            </div>
        </div>
        <div class="menu-session">
            <ul>
                <li class="active">
                    <a href="./inicio.html">Inicio</a>
                </li>
                <li>
                    <a href="./evaluaciones.html">Evaluaciones</a>
                </li>
                <li>
                    <a href="https://siceuc2.ucol.mx/pp/">Práctica Profesional</a>
                </li>
                <li>
                    <a href="#">Servicio Social Universitario</a>
                </li>
                <li>
                    <a href="https://siceuc2.ucol.mx/ssc/">Servicio Constitucional</a>
                </li>
                <li>
                    <a href="https://siceuc2.ucol.mx/cultural/alumno/IniciarSesion">Actividades Culturales y Deportivas</a>
                </li>
                <li>
                    <a href="./index.html">Salir</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<script src="./src/js/menu.js"></script>